<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CnC.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="TestEmail" value="ms_ntu329@yahoo.com" />
    <add key="EmailBCC" value="cncresinimex@gmail.com" />
    <add key="DocumentMainDirectoryPath" value="D:\CnC\CustomersDocs\" />
  
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <CnC.Service.Properties.Settings>
      <setting name="CnC_Service_TokenService_Token" serializeAs="String">
        <value>https://mabna.shaparak.ir:443/TokenService</value>
      </setting>
      <setting name="CnC_Service_TransactionReference_TransactionReference"
        serializeAs="String">
        <value>https://mabna.shaparak.ir:443/TransactionReference/TransactionReference</value>
      </setting>
      <setting name="CnC_Service_BillTokenService_Token" serializeAs="String">
        <value>https://mabna.shaparak.ir:443/BillTokenService</value>
      </setting>
    </CnC.Service.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITokens">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ITokens1" />
        <binding name="BasicHttpBinding_IVerify">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVerify1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ikc.shaparak.ir/TToken/Tokens.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokens"
        contract="Token.ITokens" name="BasicHttpBinding_ITokens" />
      <endpoint address="https://ikc.shaparak.ir/TVerify/Verify.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerify"
        contract="Verify.IVerify" name="BasicHttpBinding_IVerify" />
    </client>
  </system.serviceModel>
</configuration>