<div class="row">
    <button type="submit" name="btnSearch" id="btnSearch" value="Search" class="btn btn-labeled btn-primary" style="margin-right:10px; margin-left:10px;">
        <span style="padding:10px;">Search</span>
        <span class="btn-label" style="left: 0px;"><i class="glyphicon glyphicon-search"></i></span>
    </button>
    <button type="submit" name="btnClearSearch" value="ClearSearch" id="btnClearSearch" class="btn btn-labeled btn-primary" style="margin-right:10px; margin-left:10px;">
        <span style="padding:10px;">Clear Search</span>
        <span class="btn-label" style="left: 0px;"><i class="glyphicon glyphicon-refresh"></i></span>
    </button>
</div>
