
@{    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Payment Successful";
}

<h2>Payment Successful</h2>

Your payment has been processed successfully
<a href="../Card/NewCardRequest">Plese continue</a>
