@{
    ViewBag.Title = "New Top Up Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb -->
<ol class="breadcrumb" style="text-transform: uppercase;">
    <li>@*@User.Identity.Name.ToLower()*@ Top Up</li>
    <li>@ViewBag.Title</li>
</ol>
<!-- end breadcrumb -->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-cust-cards" data-widget-editbutton="false">
                    @*<header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>New Top Up Request</h2>
                        </header>*@
                    <!-- widget div-->
                    <h5></h5>
                    @{ Html.RenderPartial("_CustomerTopupRequest");}
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
}